<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Regístrese ahora</h2>
              <form role="form" [formGroup]="registerForm" *ngIf="registered == false">
                <!-- Nombre input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="formFullName">Nombre</label>
                  <input formControlName="fullName" type="email" id="formFullName" class="form-control" placeholder="Indique su nombre completo"
                  [ngClass]="{'error': isTouchedField(registerForm, 'fullName')}" />
                  <span class="text-danger">{{getErrorsForm('fullName')}}</span>
                </div>

                <!-- card Id input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="formCardId">Número de documento</label>
                  <input formControlName="cardId" type="text" id="formCardId" class="form-control" placeholder="Indique su número de documento"
                  [ngClass]="{'error': isTouchedField(registerForm, 'cardId')}" />
                  <span class="text-danger">{{getErrorsForm('cardId')}}</span>
                </div>

                <!-- 2 column grid layout with text inputs for the email and cellphone number -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="formEmail">email</label>
                      <input formControlName="email" type="text" id="formEmail" class="form-control" placeholder="Indique su dirección de correo electrónico"
                      [ngClass]="{'error': isTouchedField(registerForm, 'email')}" />
                      <span class="text-danger">{{getErrorsForm('email')}}</span>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="formCellphoneNumber">Número de celular</label>
                      <input formControlName="cellphoneNumber" type="text" id="formCellphoneNumber" class="form-control" placeholder="Indique su número de celular"
                      [ngClass]="{'error': isTouchedField(registerForm, 'cellphoneNumber')}" />
                      <span class="text-danger">{{getErrorsForm('cellphoneNumber')}}</span>
                    </div>
                  </div>
                </div>
  
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Acepto términos y condiciones
                  </label>
                </div>
  
                <!-- Submit button -->
                <button (click)="register()" type="submit" class="btn btn-primary btn-block mb-4">
                  Registrarse
                </button>
  
                <!-- Register buttons -->
                <div class="text-center">
                  <p>Si ya te encuentras registrado: <a routerLink="../inicio-sesion">click aquí</a></p>
                </div>
              </form>
              <div *ngIf="registered == true">
                <p>Registro exitoso, su contraseña predeterminada es:</p>
                <h3>{{passwordGenerated}}</h3>
                <p>Por favor, guárdela en un lugar seguro!</p>
                <p>Puedes iniciar sesión: <a routerLink="../inicio-sesion">click aquí</a></p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->

